@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}
body{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px !important;
  overflow-x: hidden;
  overflow-y: scroll;
}
.header{
    background-image:linear-gradient(to right, rgb(48 66 180), #00c3ff) ;
    padding: 15px 0px;
}
.header-links{
    color: #00c3ff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 10px;
}
.head-links-left{
    color: #fff;
    transition: 300ms all ease-in-out;
}
.head-links-left:hover{
    color: red;
}
.header-icons{
    color: #00c3ff;
}

/* Navbar styling */
.navbar {
  z-index: 50;
  /* background-color: cornflowerblue; */
  background-color: transparent;
}

.logo {
  width: 90%;
  height: 70%;
}
.nav-hover {
  font-size: 15px;
  padding:10px 2px ;
  margin-left: 10px;
  color: #fff;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: capitalize;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}
.nav-hover:focus,
.nav-hover:hover {
  color: #fff;
}
.nav-hover:focus:after,
.nav-hover:hover:after {
  width: 100%;
  left: 0%;
}
.nav-hover:after {
  content: "";
  pointer-events: none;
  bottom: -4px;
  left: 50%;
  position: absolute;
  width: 0%;
  border-radius: 20px;
  height: 4px;
  background-color:  #00c3ff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}
.nav-link-arrow{
  width: 20px;
  filter: contrast(0%) brightness(130%);
}
.navbar-icons{
  width: 20px;
  
}
.navbar-icons-span{
  background-color: #fff;
  margin-left: 20px;
  padding: 13px;
  border-radius: 50%;
  cursor: pointer;
}
.green-text{
  color: #11c4fa;
}
/* Cart icon  */
#cart{
  background-color: #fff;
  position: absolute;
  right: 11%;
  top: 105%;
  border-radius: 20px;
  padding:25px 0px;
  width: 250px !important;
  text-align: center;
  margin-top: 9px;
  color: gray;
  display: none;
} 
/* Search Icon  */
#search-icon-img{
  color: #000;
  margin: auto;
}
#search-content{
  display: none;
  position: absolute;
  right: 5%;
  top: 105%;
  border-radius: 17px;
  padding: 25px 50px;
  /* margin-top: 5px; */
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
  animation: dropdown 300ms ease-in-out forwards;
}
#search-input{
  border-radius: 30px;
  padding: 15px 35px;
  outline: 1px solid rgba(155, 153, 153, 0.397);
  border: none;
}
.search-btn{
  position: absolute;
  top: 28%;
  right: 16%;
  background-color: #fe4c1c;
  padding: 11px 13px;
  color: #fff;
  border-radius: 50%;
  border: none;
  transition: 300ms all ease-in-out;
}
.search-btn:hover{
  background-color: #04dbf1;
}

.side-overlay{
  height: 100%;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 95;
  overflow-y: scroll;
  display: none;
}
.side-closing-div{
  width: 100%;
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.377);
  cursor: url(images/close.png) 16 16,default;
  position: fixed;
  top: 0;
  left: 0;
}
.side-panel{
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  width: 420px;
  padding:50px 23px;
  z-index: 100;
  cursor: default;
  overflow-y: scroll;
  margin-right: 0%;
}
.side-closing{
  position: fixed;
  right: 3%;
  top: 5%;
  color: #606060;
  font-size: 22px;
  font-weight: lighter;
  z-index: 1000;
  cursor: pointer;

}
.side-para{
  line-height: 210%;
  color: #606060;
}
.news-img{
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
.news-links{
 color:#1a1b1e;
 text-decoration: none;
 transition: 300ms all ease-in-out;
}
.news-links:hover{
  color: #00c3ff;
}
.news-time{
  color: #a5b7d2;
  font-size: 14px;
  font-weight: 500;
}

.cont-links{
  text-decoration: none;
  color: #606060;
  margin-top: 100px;

}
.cont-icons{
  color:#8E8BFF;
  font-size: 30px;
  margin-top: 30%;
}
.side-social-icons{
  color: #fff;
  background-color: #fff;
  padding: 7px 10px;
  border-radius: 50%;
  margin:2px 4px ;
}
#footer-twitter{
  background-color: #44b1e4 ;
}
#footer-fb{
  background-color: #4661c5;
}
#footer-pint{
  background-color:#ff2e2e ;
}
#footer-insta{
  background-color:  #ff6828;
}

.dropdown-content {
  display: none !important;
  position: absolute;
  border-radius: 20px;
  padding: 10px 50px;
  /* margin-top: 5px; */
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
  animation: dropdown 300ms ease-in-out forwards;
}
@keyframes dropdown {
  0% {
    transform: translateZ(200px) transLateY(40px)
  }

  80% {
    transform: translateZ(-10px) transLateY(0px)
  }

  100% {
    transform: translateZ(0px) transLateY(0px)
  }
}
/* Drop dwon list */
.dropdown-content a {
  color: black;
  padding: 0px 16px;
  margin-top: 15px;
  text-decoration: none;
  font-weight: 300;
  position: relative;
  display: block;
  padding-left: 21px;
  letter-spacing: 1px;
  transition: 100ms all ease-in-out;
}
.dropdown-content a:hover::before{
  position: absolute;
  content: "";
  width: 7px;
  height: 7px;
  background: #00c3ff;
  top: 8px;
  left: 0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
.dropdown-content a:hover {
  color: #00c3ff;
  font-weight: 500;
  margin-left: 7px;
}
.dropdown:hover .dropdown-content {
  display: block !important;
}
.dropdown ul {
  list-style: none;
}

/* Change navbar styling on scroll */
.navbar.active {
  background: white;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 3;
}

.navbar.active .nav-link {
  color: #000;
}

.navbar.active .navbar-brand {
  font-weight: 600;
  font-size: 2vw;
}

.secondery-btn {
    --orange: #fe4c1c;
    font-size: 15px;
    padding: 7px 2em;
    height: 47px;
    letter-spacing: 0.06em;
    position: relative;
    font-family: inherit;
    border-radius: 2em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid var(--orange);
    background-color: #fe4c1c;
    color: #fff;
   }
   
   .secondery-btn:hover {
    color: #fe4c1c;
    color: #fff;
   }
   
   .secondery-btn::before {
    content: "";
    position: absolute;
    left: -4em;
    width: 4em;
    height: 100%;
    top: 0;
    transition: transform .4s ease-in-out;
    background: linear-gradient(to right, transparent 1%,  #eeedec56 40%, #fdfaf86c 60% , rgba(255, 255, 255, 0.562) 100%);
   }
   
   .secondery-btn:hover:before {
    transform: translateX(15em);
   }
   .secondery-btn i{
    background-color: #fff;
    color: #fe4c1c;
    border-radius: 50%;
    padding: 3px;
  }
  .sec-btn-link{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
  }
  
  .main-section{
    background-image: url(images/shape-home3crop.png);
    background-position: bottom;
    background-size: cover;
    
  }
  .main-sec-left{
    padding: 40px 50px;
    color: #fff;
    font-weight: 300;
  }
  .main-sec-left h6{
    color: #c4f1f9;
    font-weight: 600;
  }
  .main-sec-left h1{
    font-size: 60px;
    font-weight: 900;
  }
  .main-sec-left p{
    font-size: 22px;

  }
  .main-sec-text{
    font-size: 16px !important;
    padding-top: 25px;
    margin-left: 5px;
  }
  .btn-inner{
    border-style:solid ;
    border-width: 10px;
    border-color: #3046b5;
    display: inline-block;
    border-radius: 50%;
    padding: 7px 17px;
    transition: 400ms all ease-in-out;
  }
  .btn-inner .fa-play{
    color: #00c3ff;
  }
  .btn-inner:hover{
    background-color: #00c3ff ;
  }
  .btn-inner:hover .fa-play{
    color: #fff;
  }
  .social-icons-cont{
    padding: 100px 50px;
    color: #fff;
  }
  .social-links{
    text-decoration: none;
    color: #fff;
    margin: 0px 5px;
  }
  .logos-img-sec{
    padding:50px 0px ;
  }
  .logos-images{
    filter: contrast(0%);
    opacity: 0.7;
    transition: 400ms all ease-in-out;
  }
  .logos-images:hover{
    filter: contrast(100%);
    opacity: 1;
  }
/* 
  .grid-lines {
    position: absolute;
    max-width: 1330px;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 0;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 0;
    pointer-events: none;
    user-select: none;
}
.grid-lines .g-line {
  height: 100%;
  display: block;
  width: 1px;
  background-color: rgba(0, 0, 0, 0.301);
  left: 0;
  top: 0;
  position: absolute;
}
.grid-lines .line-cleft {
  left: 33.3333%;
}
.grid-lines .line-cright {
  left: 66.6667%;
} */
  .sub-heading{
    font-size: 14px;
    font-weight: 700;
    color: #a5b7d2;
    position: relative;
    display: inline-block;
    padding-left: 21px;
    letter-spacing: 1px;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  .sub-heading::before{
  position: absolute;
  content: "";
  width: 7px;
  height: 7px;
  background: #a5b7d2;
  top: 3.5px;
  left: 0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
.double-dots::after{
  left:auto;
  right: -21px;
  position: absolute;
  content: "";
  width: 7px;
  height: 7px;
  background: #a5b7d2;
  top: 3.5px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
.main-heading{
  font-size: 36px;
  font-weight: bolder;
  line-height: 1.2;
  margin: 0 0 20px;
  color: #000;
  font-family: "Red Hat Display",sans-serif;
  margin-bottom: 80px;
}
.side-bg-image{
  position: absolute;
  right: 0;
  z-index: 2;
}

/* .cards-section{
  background-image: url(images/shape-process-1.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;

} */
/* .number-box {
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  color: #fff;
  font-size: 24px;
  font-weight: 900;
  font-family: "Red Hat Display",sans-serif;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: -35px;
  margin-left: -35px;
  margin-bottom: 45px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  background-color: #0039e4;
  background-image: -moz-linear-gradient(145deg,#0039e4,#04dbf1);
  background-image: -webkit-linear-gradient(145deg,#0039e4,#04dbf1);
  background-image: linear-gradient(145deg,#0039e4,#04dbf1);
  box-shadow: 10px 10px 30px 0 rgb(2 156 236 / 30%);
  -webkit-box-shadow: 10px 10px 30px 0 rgb(2 156 236 / 30%);
  -moz-box-shadow: 10px 10px 30px 0 rgba(2,156,236,.3);
} */
.number-box{
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  color: #fff;
  font-size: 24px;
  font-weight: 900;
  font-family: "Red Hat Display",sans-serif;
  position: absolute;
  left: 40%;
  top: -45px;
  border-radius: 50%;
  background-image: linear-gradient(145deg,#0039e4,#04dbf1);
  box-shadow: 10px 10px 30px 0 rgb(2 156 236 / 30%);
  -webkit-box-shadow: 10px 10px 30px 0 rgb(2 156 236 / 30%);
  -moz-box-shadow: 10px 10px 30px 0 rgba(2,156,236,.3);
}
.arrows{
  position: absolute;
  top: -5%;
  right: -20%;
  z-index: 100;
}
.process-box{
  outline: none;
  border: none;
  transition: 300ms all ease-in-out;
}
.process-box:hover{
  box-shadow:
  12.5px 12.5px 10px rgba(0, 0, 0, 0.025),
  100px 100px 80px rgba(0, 0, 0, 0.05)
;}
.process-img{
  width: 60%;
  margin: auto;
}

.progress {
  background: #f0f6ff;
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 10px;
  width: 500px;
}

.progress-value {
  animation: load 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #00c3ff;
  height: 10px;
  width: 0;
}

@keyframes load {
  0% { width: 0; }
  100% { width: 70%; }
}
#second-prog-bar{
  animation: load-2 3s normal forwards;
}
@keyframes load-2 {
  0% { width: 0; }
  100% { width: 80%; }
}
#third-prog-bar{
  animation: load-3 3s normal forwards;
}
@keyframes load-3 {
  0% { width: 0; }
  100% { width: 60%; }
}

.form-cont{
  height: 350px;
  background-image: url(images/rocket2-service2-1.png),linear-gradient(145deg,#0039e4,#04dbf1);
  border-radius: 20px;
  display: block;
  padding:20px ;
  box-sizing: border-box;
  text-align: center;
  border: 1px solid transparent;
}

.form-main-cont{
  margin-top: 6%;
}
.form-main-cont h1{
  color: #fff;
  font-weight: bolder;
  font-size: 48px;
}
.input-cont{
  background-color: #fff;
  /* height: 50px; */
  border-radius:35px ;
  width: 600px;
  padding:2px 0px;
  
  
}
.input-cont input{
  outline: none;
  border: none;
  width: 80%;
  border-radius:35px ;
  /* height: 60%; */
}
.url-inp{
border-right: 1px solid rgba(129, 123, 123, 0.486) !important;
}
.icon-boxes{
  border: none;
  border-radius: 20px;
  box-shadow:
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.024),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.036),
  100px 100px 80px rgba(0, 0, 0, 0.06);
  transition: 0.3s all ease-in-out;
  padding:5px 0px ;
}
.icons-gradient{
  background-image: linear-gradient(145deg,#0039e4,#04dbf1);
  color: #fff;
  font-size: 30px;
  padding: 20px;
  border-radius: 50%;
  margin:9% 0px ;
  box-shadow: 8px 8px 30px 0 rgb(1 96 231 / 30%);
  transition: 0.3s all ease-in-out;
}
.icon-boxes:hover{
  background-image: linear-gradient(145deg,#0039e4,#04dbf1);
  color: #fff;
}
.icon-boxes:hover .icons-gradient{
  background-color: #fff;
  background-image: none;
  color: #00c3ff;
}
.num-counter{
  font-size: 36px;
  color: #0039e4;
  font-weight: 900;
  padding:3px 10px;
  width: 100%;
}
.num-counter h6{
  font-size: 12px;
  color: #000;
  font-weight: bolder;
}
.swiper {
  width: 100%;
  height: 100%;
}
.project-cards{
  border-radius: 30px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: 1px solid black;
}
.project-card-img{
  border-radius: 30px;
  /* overflow: hidden; */
  width: 100%;
  transition: 500ms all ease-in-out;
}
.project-card-img:hover{
  transform: scale(1.1);
  border-radius: 30px;
  /* overflow: hidden; */
}
.project-card-text{
  position: absolute;
  top: 70%;
  right: 0;
  left: 10;
  color: #00c3ff;
  background-color: #fff;
  display: none;
  transition: 500ms all ease-in-out;
  translate:100% 0px ;
}
.project-cards:hover .project-card-text{
  display: block;
  translate:0px 0px ;

}

.project-card-text>* {
  transform: translateX(0px);
  transition: transform 0.25s;
}

.cardtext-onhov:hover>* {
  transform: translateY(20px);
}
.hide{
  width: 100%;
  height: 800px;
  position: absolute;
  top: 30;
  left: 0px;
  background-color: #000;
  display: none;
}
.nav-hover:hover .hide{
  display: block !important;
}




.projects-box {
  position: relative;
  display: block;
  overflow: hidden;
}
.projects-box .portfolio-info {
  width: 270px;
  position: absolute;
  bottom: 20px;
  right: -270px;
  z-index: 4;
  opacity: 0;
  transition: all 0.35s ease;
  -webkit-transition: all 0.35s ease;
  -moz-transition: all 0.35s ease;
  -o-transition: all 0.35s ease;
  -ms-transition: all 0.35s ease;
}
.projects-box .portfolio-info .portfolio-info-inner {
  text-align: left;
  padding: 30px 30px 10px 30px;
  box-sizing: border-box;
  background-color: #0039e4;
  background-image: -moz-linear-gradient(90deg, #0039e4, #04dbf1);
  background-image: -webkit-linear-gradient(90deg, #0039e4, #04dbf1);
  background-image: linear-gradient(90deg, #0039e4, #04dbf1);
  border-top-left-radius: 15px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 15px;
  -webkit-border-top-left-radius: 15px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 15px;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 15px;
  box-shadow: 12px 12px 30px 0px rgba(0, 57, 228, 0.3);
  -webkit-box-shadow: 12px 12px 30px 0px rgba(0, 57, 228, 0.3);
  -moz-box-shadow: 12px 12px 30px 0px rgba(0, 57, 228, 0.3);
}
.projects-box .portfolio-info .portfolio-info-inner h5 a:hover, .projects-box .portfolio-info .portfolio-info-inner .portfolio-cates a:hover {
  opacity: 0.8;
}
.projects-box .portfolio-info h5 {
  color: #fff;
  font-family: "Red Hat Text", sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
  line-height: 1;
}
.projects-box .portfolio-info h5 a {
  color: #fff;
}
.projects-box .portfolio-info .portfolio-cates {
  color: #95e1fa;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
}
.projects-box .portfolio-info .portfolio-cates a {
  color: #95e1fa;
}
.projects-box .portfolio-info .portfolio-cates span {
  display: inline-block;
  margin-left: 2px;
  margin-right: 2px;
}
.projects-box .portfolio-info .portfolio-cates span:last-child {
  display: none;
}
.projects-box:hover .portfolio-info {
  right: 0px !important;
  opacity: 1;
}
.projects-box .projects-thumbnail {
  overflow: hidden;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
}
.projects-box img {
  width: 100%;
  height: auto;
  display: block;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.projects-box:hover img {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}

.projects-style-2 .projects-box {
  border-bottom: 60px solid transparent;
  overflow: visible;
  border-bottom: 60px solid transparent;
}
.projects-style-2 .projects-box .portfolio-info {
  opacity: 1;
  right: 0px;
  left: 0px;
  bottom: -60px;
  width: 100%;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}
.projects-style-2 .projects-box .portfolio-info .portfolio-info-inner {
  width: 310px;
  padding: 36px 10px 10px 10px;
  margin: 0 auto;
  background: #fff;
  text-align: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: 8px 8px 30px 0px rgba(42, 67, 113, 0.15);
}
.projects-style-2 .projects-box .portfolio-info h5 a {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
  text-decoration: none !important;
  color: #1a1b1e;
}
.projects-style-2 .projects-box .portfolio-info .portfolio-cates {
  color: #00c3ff;
  letter-spacing: 0px;
}
.projects-style-2 .projects-box .portfolio-info .portfolio-cates a {
  color: #00c3ff;
}
.slider-links{
  text-decoration: none;
}
.service-cards{
  border: none;
  outline: none;
  transition: 500ms all ease-in-out;
  border-radius: 25px;
}
.serv-bg-1{
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  transition: 500ms all ease-in-out !important;
}.serv-bg-2{
  position: absolute;
  bottom: 0;
  right: 0;
  display: none;
  transition: 500ms all ease-in-out;
}
.service-cards:hover{
  box-shadow:
  8.4px 8.1px 10px rgba(0, 0, 0, 0.035),
  67px 65px 80px rgba(0, 0, 0, 0.07)
;
}
.service-cards:hover .serv-bg-1{
  display: block;
}
.service-cards:hover .serv-bg-2{
  display: block;
}
.serv-icons{
  color: #0039e4;
  font-size: 30px;
}

.circle-big {
  position: relative;
  width: 114px;
  height: 114px;
  margin: 30px auto 25px auto;
}

.circle-big svg {
  width: 100%;
  height: 100%;
}

.circle-big .bg {
  fill: none;
  stroke-width: 10px;
  stroke: #fff;
}

.circle-big .progress {
  fill: none;
  stroke-width: 10px;
  stroke: orangered;
  stroke-linecap: round;
  stroke-dasharray: 326.56;
  stroke-dashoffset: 60;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  animation: big 1.5s ease-in-out;
  z-index: 100;
}

.circle-big .text {
    position: absolute;
    top: 17px;
    font-size: 24px;
    left: 17px;
    text-align: center;
    font-weight: 400;
    line-height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 50%;
    height: 70%;
    width: 70%;
    border: 9px solid #f0f6ff;
}

#prog-75{
  stroke-dashoffset: 83;
}
#prog-43{
  stroke-dashoffset: 173;
}
#prog-66{
  stroke-dashoffset: 105;
}
#prog-15{
  stroke-dashoffset: 274;
}
@keyframes big {
  from {
    stroke-dashoffset: 326.56;
  }
  to {
    stroke-dashoffset: 60;
  }
}


.video-cont{
  width: 80%;
  height: 250px;
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(images/bg-counter-1.jpg);
}
.video-cont h1{
  color: #fff;
  font-size: 48px;
  font-weight: bolder;
}
.video-display{
  height: 100vh !important;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 1000;
  display: none;
  overflow-y: hidden;
}
.video-close{
position: absolute;
background-color: #000;
top: 0;
left: 0;
height: 100% !important;
width: 100vw;
z-index: 1001;
}
#seo-video{
  height: 100%;
  width: 100%;
}
.video{
position: absolute;
top: 25%;
left: 28%;
z-index: 1005;
height: 40%;
width: 40%;
}
#video-close-icon{
  color: #d6d1d1;
  opacity: 0.5;
  transition: 200ms all ease-in-out;
}
#video-close-icon:hover{
  color: #fff;
  opacity: 1;
  cursor: pointer;
}
.seo-cards{
  border-radius: 15px;
  overflow: hidden;
  box-shadow:
  8.4px 8.1px 10px rgba(0, 0, 0, 0.035),
  67px 65px 80px rgba(0, 0, 0, 0.07);
}
.seo-card-btn{
  background-color: #fe4c1c;
  position: absolute;
  top: 9%;
  left: 7%;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  padding: 3px 10px;
  transition: 400ms all ease-in-out;
}
.seo-card-btn:hover{
  background-color: #fff;
  color: #fe4c1c;
}
.seo-card-btn2{
  background-color: #fe4c1c;
  position: absolute;
  top: 9%;
  left: 38%;
  font-weight: bold;
  font-size: 12px;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 3px 10px;
  transition: 400ms all ease-in-out;
}
.seo-card-btn2:hover{
  background-color: #fff;
  color: #fe4c1c;
}
.seo-card-links{
  color: #a5b7d2;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  transition: 400ms all ease-in-out;
}
.seo-card-links:hover{
  color: #000;
}
.seo-card-links:hover .seo-card-icons{
  color: #fe4c1c;
}
.seo-card-links-dark{
  color: #000;
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
  transition: 400ms all ease-in-out;
}
.seo-card-links-dark:hover{
  color: #fe4c1c;
}
#footer{
  background-image: linear-gradient(to right, #002cae, #039ee5) ;
  width: 100vw !important;
  margin-left: -10px !important;
  
  color: #fff;
}
.footer-content{
  padding: 8% 0%;
}
.footer-links{
  color: #039ee5;
  text-decoration: none;
  display: block;
  transition: 400ms all ease-in-out;
}
.footer-links:hover{
  color: #fff;
  text-decoration: underline;
}
.footer-images{
  overflow: hidden;
  
}
.footer-images img{
  width: 100%;
  border-radius: 10px;
  margin-top: 5%;
}
.footer-bottom{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #acebff;
  border-style:solid ;
  border-width: 1px 0px 0px 0px;
  border-color: rgba(255,255,255,0.1);
}
.main-footer-icons{
  margin:8px!important;
  background-color: #fff;
  padding: 7px 10px;
  border-radius: 50%;
}
.main-footer-icons:hover{
 margin-bottom: 4px;
}
#footer-social-twitter{
color: #44b1e4;
}
#footer-social-fb{
  color: #4661c5;
 padding:7px 14px;
}
#footer-social-pin{
  color: #ff2e2e;
}
#footer-social-insta{
  color:#ff6828 ;
}